/* src/App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.bg-blur {
  backdrop-filter: blur(10px); /* Adiciona o efeito de blur no background */
  background-color: rgba(255, 255, 255, 0.5); /* Define a cor de fundo ofuscada */
}



